header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #c3092d;
}

h3 {
    font-style: italic;
}

#main {
    font-family: 'Rokkitt', serif;
}

#img-div {
    text-align: center;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

#img-caption {
    color: white;
    background-color: #222221;
    text-align: justify;
}

#tribute-info {
    color: #222221;
}

ul {
    list-style-type: none; 
}

#more-info {
    text-align: center;
}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.fa-github {
    color: #222221;    
}

.fa-github:hover {
    color: #c3092d;    
}