html {
    background-color: darkslategray;
}

body {
    background-color: #808080c2;
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

h1 {
    margin-top: 0;
}

h3 {
    font-style: italic;
}

#main {
    font-family: 'Rokkitt', serif;
}

#img-div {
    display: table;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

#img-caption {
    color: darkcyan;
    background-color: #222221;
    display: table-caption;
    caption-side: bottom;
}

#tribute-info {
    color: #222221;
    text-align: left;
}

ul {
    list-style-type: none; 
}

#more-info {
    text-align: center;
}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline; 
}

.fa-github {
    color: #222221;    
}

.fa-github:hover {
    color: #c3092d;    
}